<%- include('../../../partials/header') %>
<%- include('../../../components/sidebar') %>
<% const is_setup = user.has_info ? 'disabled' : ''  %>
<main class="bg-base-300">
  <form id="user_form_info" >
    <div class="grid gap-4 bg-base-100 p-4 rounded-md">
      <span class="uppercase font-medium text-xl">Create Account Info</span>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">First Name</label>
          <input type="text" placeholder="Type here" required name="first_name" value="<%= user.first_name %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Middle Name</label>
          <input type="text" placeholder="Type here" required name="middle_name" value="<%= user.middle_name %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Last Name</label>
          <input type="text" placeholder="Type here" required name="last_name" value="<%= user.last_name %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        
      </div>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Gender</label>
          <select type="text" placeholder="Type here" name="gender" required value="<%= user.gender %>" class="select select-bordered w-full select-sm rounded-sm" >
            <option disabled selected>GENDER</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Birthday</label>
          <input type="date" name="birthday"  value="<%= user.birthday %>" class="input input-bordered input-sm w-full rounded-sm" required />
        </div>
      </div>
      <!-- address -->
      <div class="divider divider-start my-0 mt-2 pl-1 uppercase divider-success font-medium">Address</div>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Region</label>
          <select type="text" placeholder="Region" name="region_code" value="<%= user.region %>"  required>
            <% if (user.region) { %>
                <option value="<%= user.region %>"></option>
            <% } else { %>
              <!-- <option value=""></option> -->
            <% } %>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Province</label>
          <select type="text" placeholder="Province" name="province_code" value="<%= user.province %>" required>
            <% if (user.province) { %>              
               <option value="<%= user.province %>"></option>
            <% } else { %>
                <!-- <option value=""></option>     -->
            <% } %>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">City</label>
          <select type="text" placeholder="City" name="city_code" value="<%= user.city %>"  required> 
            <% if (user.city) { %>
               <option value="<%= user.city %>"></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Barangay</label>
          <select type="text" placeholder="Barangay" name="barangay_code" value="<%= user.barangay %>" required>
            <% if (user.barangay) { %>
              <option value="<%= user.barangay %>"></option>
            <% } %>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Address</label>
          <input type="text" placeholder="Address" autocomplete="none" name="address" value="<%= user.address %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">zipcode</label>
          <input type="text" placeholder="Type here" autocomplete="none" name="zipcode" value="<%= user.zipcode %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
      </div>
      <!-- church info -->
      <div class="divider divider-start my-0 mt-2 pl-1 uppercase divider-success font-medium">Church Info</div>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">local church</label>
          <select type="text" placeholder="Local Church" name="local_church" >
            <% if (user.local_church) { %>
            <option value="<%= user.local_church %>"></option>
            <% } %>
            <!-- <option value="1">Noemito John</option> -->
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">church address</label>
          <input type="text" placeholder="Local Church Address" name="local_church_address" value="<%= user.local_church_address %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">church position</label>
          <input type="text" placeholder="Church Position" name="church_position" value="<%= user.position %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
      </div>
      <div class="grid md:grid-cols-3 gap-4">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Episcopal Area</label>
          <select type="text" placeholder="Episcopal Area" name="episcopal_area">
            <% if (user.episcopal_area) { %>
             <option value="<%= user.episcopal_area %>"></option>
            <% } %>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Annual Conference</label>
          <select type="text" placeholder="Annual Conference" name="annual_conference"> 
           <% if (user.annual_conference) { %>
              <option value="<%= user.annual_conference %>"></option>
           <% } %>
          </select>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">District Conference</label>
          <select type="text" placeholder="District Conference" name="district_conference" >
            <% if (user.district_conference) { %>
             <option value="<%= user.district_conference %>"></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="divider divider-start my-0 mt-2 pl-1 uppercase divider-success font-medium">Church ID</div>
      <!-- ID info -->
      <div class="grid md:grid-cols-3 gap-3">
        <div class="grid gap-2">
          <label class="text-xs font-medium ml-1 uppercase" for="pic_1x1">ID Picture (1x1)</label>
          <div class="flex gap-1">
            <input id="pic_1x1" required type="file" accept="image/*" <%= is_setup %> name="pic_1x1" class="flex-1 file-input file-input-bordered w-full file-input-sm rounded-sm" />
            <button id="edit_id_1x1" disabled  type="button" class="btn btn-sm btn-primary rounded-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
            </button>
            <button id="view_id_1x1" disabled  type="button" class="btn btn-sm btn-primary rounded-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>
            </button>

          </div>
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">ID Signature</label>
          <input type="file" <%= is_setup %>  placeholder="Type here" value="<%= user.last_name %>" class=" file-input file-input-bordered w-full file-input-sm rounded-sm" />
        </div>
        
      </div>
      <div class="divider divider-start my-0 mt-2 pl-1 uppercase divider-success font-medium">Contact Infomation</div>
      <!-- contact info -->
      <div class="grid md:grid-cols-3 gap-3">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Email</label>
          <input type="text" placeholder="Email" autocomplete="none" name="email" value="<%= user.email %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
      </div>
      <div class="grid md:grid-cols-3 gap-3">
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Phone Number</label>
          <input type="text" placeholder="Phone Number" name="contact_number" value="<%= user.contact_number %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Phone Number <span class="text-error">*(Incase of emergency)</span></label>
          <input type="text" placeholder="Emergency Contact Number" name="emergency_contact_number" value="<%= user.emergency_contact_number %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
        <div>
          <label class="text-xs font-medium ml-1 uppercase" for="">Full Name <span class="text-error">*(Incase of emergency)</span></label>
          <input type="text" placeholder="Emergency Contact Name" name="emergency_contact_name" value="<%= user.emergency_contact_name %>" class="input input-bordered input-sm w-full rounded-sm" />
        </div>
      </div>
      <div class="flex justify-center">
        <button type="submit" class="btn btn-primary btn-sm rounded-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-save"><path d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/><path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"/><path d="M7 3v4a1 1 0 0 0 1 1h7"/></svg>
          <span>Save</span>
        </button>
      </div>
    </div>
  </form>
</main>
<dialog id="crop_view_container_1x1" class="modal">
  <div class="modal-box">
    <button class="modal_close btn  btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    <h3 class="text-lg font-bold">Preview</h3>
    <p class="py-4">Click on ✕ button to close</p>
    <div id="img_container" class="max-w-full flex justify-center">
      <!-- img container -->
    </div>
  </div>
</dialog>
<dialog id="crop_container_1x1" class="modal">
  <div class="modal-box">
    <button class="modal_close btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    <h3 class="text-lg font-bold">Crop Image</h3>
    <p class="py-4">Click on ✕ button to close</p>
    <div id="img_container" class="max-w-full flex justify-center">
      <!-- img container -->
    </div>
  </div>
</dialog>
<script src="/public/js/user_info.js"></script>
<%- include('../../../partials/footer') %>